.shot-block
	background-color: #4A454B
	display: inline-block
	position: relative
	top: -330px
	margin: 0 auto
	&__img
		position: relative
		text-align: center
		margin: 0 auto

.treangle
	display: block
	position: absolute
	background: white
	width: 4000px
	height: 900px
	left: -50px
	right: 0
	margin: auto
	transform: rotate(-5deg)
	z-index: 10
	top: 95px
	margin: 0 auto

.img__hero
	position: inherit
.hero1
	top: 65px
	right: -70px
	z-index: 9
.hero2
	top: 45px
	right: -17px
	z-index: 8
.hero3
	top: 35px
	right: 20px
	z-index: 7
.hero4
	top: 20px
	right: 50px
	z-index: 6
.hero5
	top: 5px
	right: 80px
	z-index: 5

@media screen and (device-width: 1366px), (device-width: 1440px)
	.shot-block__img
		top: 30px

@media screen and (min-device-width: 1920px)
	.shot-block__img
		top: 15px
