.header
	display: block
	width: 1170px
	margin: 0 auto
	&__logo
		width: 345px
		padding-top: 45px
		display: inline-block
		padding-left: 70px
	&__menu
		width: 710px
		list-style: none
		display: inline-block
		position: relative
		text-align: right
		top: -17px
		right: 10px

.logo__img
	display: inline-block

.logo__text
	display: inline-block
	width: 170px
	margin-left: 10px
	margin-top: -5px
	& img
		display: inline-block
	& span
		display: inline-block
		font-size: 13.563px
		font-family: "Roboto Slab", serif
		color: rgb(130, 181, 65)
		text-transform: uppercase
		line-height: 1.2
		-moz-transform: matrix( 1.32426729964719,0,0,1.3271154647261,15,0)
		-webkit-transform: matrix( 1.32426729964719,0,0,1.3271154647261,15,0)
		-ms-transform: matrix( 1.32426729964719,0,0,1.3271154647261,15,0)

.menu
	display: block
	&__item
		display: inline-block
		padding: 5px 20px
		& a
			text-decoration: none
			font-size: 15px
			font-family: "Roboto", sans-serif
			font-weight: 300
			text-transform: uppercase
			color: white
			line-height: 1.2