// 1 - BASICS
@import '1-basic/_basic'

// 2 - MENU
@import '2-head/_head'

// 3 - TIEMR
@import '3-timer/_timer'

// 4 - FORM
@import '4-form/_form'

// 5 - MIDDLE
@import '5-middle/_middle'

// 6 - PASTEVENT
@import '6-pastEvent/_pastEvent'

// 7 - SHOT
@import '7-shot/_shot'
