.short-desc
	display: block
	position: absolute
	width: 550px
	height: 300px
	top: 255px
	text-align: left
	left: -460px
	right: 0
	margin: auto
	z-index: 12
	&__title
		display: block
		font-size: 50px
		font-family: "Roboto", sans-serif
		color: rgb(36, 36, 36)
		line-height: 1.2
	&__desc
		display: block
		width: 530px
		height: 200px
		& p
			font-size: 14px
			font-family: "Roboto Light", sans-serif
			color: rgb(36, 36, 36)
			line-height: 1.2

.middle-block
	position: relative
	display: block
	text-align: center
	top: 50px

.card
	display: inline-block
	width: 300px
	margin: 0 25px
	color: rgb(36, 36, 36)
	line-height: 1.2
	&__title
		font-size: 35px
		font-family: "Roboto", sans-serif
	&__desc
		font-size: 14px
		font-family: "Roboto Light", sans-serif
