.form-block
	display: inline-block
	position: relative
	width: 430px
	right: 115px
	background: white
	border-bottom: 1px solid rgba(35,31,32,0.25)
	box-shadow: 0px 1px 2px 0px rgba(35, 31, 32, 0.65);
	text-align: center
	margin: 0 auto
	z-index: 11
	&__title
		font-size: 28px
		font-family: "Roboto", sans-serif
		color: rgb(37, 37, 37)
		font-weight: bold
		line-height: 1.2
		padding: 30px 0 10px 0
		margin: 0
		-moz-transform: matrix( 1.0775,0,0,1.07766990291262,0,0)
		-webkit-transform: matrix( 1.0775,0,0,1.07766990291262,0,0)
		-ms-transform: matrix( 1.0775,0,0,1.07766990291262,0,0)
	&__registration
		position: inherit
		width: 370px
		margin: 0 auto
	&__footnote
		display: block
		font-size: 14px
		font-family: "Roboto Light", sans-serif
		color: rgb(108, 108, 108)
		line-height: 1.2
		margin: 0 0 20px 0
		-moz-transform: matrix( 1.0775,0,0,1.07766990291262,0,0)
		-webkit-transform: matrix( 1.0775,0,0,1.07766990291262,0,0)
		-ms-transform: matrix( 1.0775,0,0,1.07766990291262,0,0)

.registration
	position: relative
	&__input
		width: 355px
		height: 55px
		border: 1px solid rgb(190, 190, 190)
		border-radius: 5px
		background-color: white
		margin: 10px 0
		outline: none
		font-size: 18px
		color: rgb(190, 190, 190)
		font-family: "Roboto Light", sans-serif
		line-height: 1.2
		-moz-transform: matrix( 1.06285714285714,0,0,1.06611866283853,0,0)
		-webkit-transform: matrix( 1.06285714285714,0,0,1.06611866283853,0,0)
		-ms-transform: matrix( 1.06285714285714,0,0,1.06611866283853,0,0)
		&[placeholder]
			padding: 0 0 0 15px
		&:focus
			border: 1px solid rgb(144, 210, 61)
			color: rgb(108, 108, 108)
	&__button
		width: 370px
		height: 55px
		margin: 20px 0
		font-size: 20px
		font-family: "Roboto", sans-serif
		color: white
		font-weight: bold
		line-height: 1.2
		-moz-transform: matrix( 1.06285714285714,0,0,1.06611866283853,0,0)
		-webkit-transform: matrix( 1.06285714285714,0,0,1.06611866283853,0,0)
		-ms-transform: matrix( 1.06285714285714,0,0,1.06611866283853,0,0)
		border-radius: 5px
		border: none
		background-color: rgb(144, 210, 61)
		&:hover
			cursor: pointer
