.timer-block
	display: block
	position: relative
	width: 970px
	height: 195px
	border: 2px solid rgb(144, 210, 61)
	margin: 0 auto
	border-radius: 20px
	&__time
		position: inherit
		display: block
		text-align: center
		width: 980px
		& span
			display: inline-block
			width: 230px
			font-size: 135px
			font-family: "Roboto Slab", serif
			font-weight: 100
			color: white
			line-height: 1.2
			-moz-transform: matrix( 0.85646517969581,0,0,0.85570991939625,0,0)
			-webkit-transform: matrix( 0.85646517969581,0,0,0.85570991939625,0,0)
			-ms-transform: matrix( 0.85646517969581,0,0,0.8557099193w9625,0,0)
	&__caption
		position: inherit
		display: block
		text-align: center
		width: 980px
		top: -10px

.caption
	font-size: 26.515px
	font-family: "Roboto Slab", serif
	color: white
	text-transform: uppercase
	line-height: 1.2
	-moz-transform: matrix( 0.94368932038835,0,0,0.94285714285714,0,0)
	-webkit-transform: matrix( 0.94368932038835,0,0,0.94285714285714,0,0)
	-ms-transform: matrix( 0.94368932038835,0,0,0.94285714285714,0,0)
	&__day
		padding: 0 70px
	&__hour
		padding: 0 90px
	&__min
		padding: 0 50px
	&__sec
		padding: 0 90px







// .Rounded_Rectangle {
//   border-width: 2px;
//   border-color: rgb(144, 210, 61);
//   border-style: solid;
//   border-radius: 20px;
//   position: absolute;
//   left: 198px;
//   top: 226px;
//   width: 968px;
//   height: 194px;
//   z-index: 76;
// }
