.past-event
	position: relative
	display: block
	text-align: left
	margin: 136px auto
	width: 1170px
	color: rgb(36, 36, 36)
	line-height: 1.2
	&__title
		padding-left: 100px
		font-size: 50px
		font-family: "Roboto", sans-serif
	&__desc
		padding-left: 100px
		margin-bottom: 100px
		width: 600px
		font-size: 13px
		font-family: "Roboto Light", sans-serif
	&__photo-block
		display: block
		position: relative
		width: 1175px
	&__button
		display: block
		border-radius: 15px
		background-color: rgb(55, 55, 55)
		font-size: 22px
		font-family: "Roboto", sans-serif
		font-weight: 300
		line-height: 1.2
		color: white
		border: none
		padding: 14px 48px
		margin: 98px auto
		&:focus
			outline: none
		&:hover
			cursor: pointer

.photo-block
	display: block
	&__img
		display: block
		position: inherit
		height: 415px
		text-align: center
		&_blue
			position: relative
			display: inline-block
			width: 600px
			height: 415px
			background-color: rgb(61, 110, 210)
		&_green
			position: relative
			display: inline-block
			width: 570px
			height: 415px
			left: -4px
			background-color: rgb(144, 210, 61)
		&_yellow
			position: relative
			display: inline-block
			width: 500px
			height: 415px
			background-color: rgb(224, 101, 42)
		&_orange
			position: relative
			display: inline-block
			width: 670px
			height: 415px
			left: -4px
			background-color: rgb(255, 157, 0)